<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Printify API{% endblock %}</title>
        <style>
            body {background-color: #F1F1F1;}
            h1   {font-size: 10em; color: #898989; text-align: center; margin-top: 20%;}
            h3 {font-size: 3em; color: #898989; text-align: center;}
        </style>
    </head>
    <body>
        {% block body %}
                <h1>Printify API</h1>
                <h3>V 3.0</h3>
        {% endblock %}
    </body>
</html>
